body, html{
    height: 100%;
    width: 100%;
}

.header {
    height: 66.6%;
    width: 100%;
    background-color: #25B6C7;
}

.content{
    height: 33.4%;
}

.logo
{
    background-image:url(../images/psulogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form {
    height:80%;
    width: 100%;
    text-align: center;
}

#changeLanguage{
    height: 20%;
}

a{
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #25B6C7;
}

button, input[type=number], input[type=password]{
    height: 22%;
    width: 92.5%;
}

#loginError{
    color:red;
}

button{
    margin-top: 25px;
}