@font-face{
    font-family: Neo Tech;
    src:url('../fonts/NeoTech.otf');
}
body, html {
    height: 100%;
    width: 100%;
    font-family: Neo Tech;
    font-size: 100%;
    font-weight:500;
    margin: 0px;
    padding: 0px;
}

span{
    color: white;
    padding: 15px;
    font-size: medium;
    /*xfont-size: 3.5vw;*/
    font-weight:800;
    display: block;
    text-align: center;
}

p{
    font-size: 20px;
    color: #727272;
}

img {
    object-fit: contain;
}

input[type=text], input[type=password], input[type=number]{
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
}

a.navigation, input[type=submit]{
    border-radius: 25px;
    background-color: #FEC504;
    border:none;
    width: 80%;
    color: #FFFFFF;
}

a.navigation{
    display: block;
    padding: 15px;
    margin: 25px auto;
    text-align: center;
    width: 90%;
}

.header{
    height: 10%;
    background-color: #25B6C9;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
    vertical-align: central;
}

.contents{
    height: 75%;
    margin-top: 60px;
}