@font-face{
    font-family: Neo Tech;
    src:url('../fonts/NeoTech.otf');
}
body, html {
    height: 100%;
    width: 100%;
    font-family: Neo Tech;
    font-size: 100%;
    font-weight:500;
    margin: 0;
    padding: 0;
}

a.backButton{
    font-family: 'Segoe MDL2 Assets';
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin: auto;
    top: 35%;
    left: 10px;
    position: absolute;
    text-decoration: none;
}

span.title{
    color: white;
    padding: 15px;
    font-size: medium;
    /*font-size: 3.5vw;*/
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 20%;
    right: 20%;
    font-weight:800;
    display: block;
    text-align: center;
}

p{
    font-size: 20px;
    color: #727272;
}

input[type=text], input[type=password], input[type=number]{
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
}

a.navigation, input[type=submit], button {
    border-radius: 25px;
    background-color: #FEC504;
    border:none;
    width: 80%;
    color: #FFFFFF;
}

a.navigation{
    display: block;
    padding: 15px;
    margin: 25px auto;
    text-align: center;
    text-decoration: none;
    width: 90%;
}

.header{
    height: 10%;
    background-color: #25B6C9;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    vertical-align: central;
    position: relative;
}


.contents{
    height: 75%;
    margin-top: 60px;
}

#newsDiv{
    margin: auto;
}

    /********************************
    ******     Slide Menu     *******
    *********************************/

#slideMenuLogo{
    height: 180px;
    padding-bottom: 50px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #25B6C9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.openSlideMenu{
    font-family: 'Segoe MDL2 Assets';
    font-size: 28px;
    font-weight:900;
    color: white;
    top: 35%;
    right: 10px;
    position: absolute;
}

br{
    font-weight: 800;
    background-color:white;
}

.showSlideMenu{
    width: 200px;
}

.backgroundColor{
    background-color: rgba(0,0,0,0.4);
}