body, html {
    height: 100%;
    width: 100%;
}

p{
    color: #727272;
}

.header{
    height: 10%;
    background-color: #25B6C9;
    color: #FFFFFF;
    text-align: center;
}

.contents{
    height: 75%;
    margin-top: 60px;
}
