html, body {
    height: 100% !important;
    width: 100% !important;
}

.header {
    height: 10% !important;
    background-color: #25B6C7 !important;
}

.ui-contents {
    height: 80% !important;
}

.ui-grid-a {
    height: 100% !important;
}

.ui-block-a .ui-btn, .ui-block-b .ui-btn {
    height: 25% !important;
    background-image: url("../images/cclogo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #25B6C7 !important;
}

img {
    width: 40%;
    height: auto;
    object-fit: scale-down;
}
