th, td{
    padding: 5px;
}

.blueTable{
    width: 100%;
    border-collapse:collapse;
    background-color: #25B6C9;
    border: none;
    text-align: center;
    color: white;
}

.blueTable th, .blueTable td{
    border:1px solid white;
}

.whiteTable{
    width: 100%;
    border-collapse: collapse;
    text-align:center;
}

.whiteTable th{
    border: 1px solid white;
    color: white;
    background-color: #25B6C9;
}

.whiteTable tbody,.whiteTable tbody td{
    border: 1px solid #25B6C9;
    color: #25B6C9;
    background-color: white;
}

.blueTable td, .blueTable th{
    border: 1px solid white;
    color: white;
    background-color: #25B6C9;
}

#corner{
    background-color: white;
}